---
title: Published Projects
content_blocks:
  - _bookshop_name: page-heading
---

{% bookshop page-heading title="Published Projects" %}

{% include project-card.html
  project_name="HOFWallpaper"
  project_banner="https://github.com/framedsc/HOFWallpaper/blob/main/public/twitter-card.jpg?raw=true"
  project_link="http://framedsc.com/HOFWallpaper/"
  project_date="2023"
  project_details="A wallpaper site featuring the best shots from the Framed Screenshot Community Discord server."
  project_tags="React, Javascript, CSS"
%}

{% include project-card.html
  project_name="Ruddy's Dungeon Service"
  project_banner="https://img.itch.zone/aW1nLzEyNzYyOTkzLnBuZw==/315x250%23c/%2FeAjoS.png"
  project_link="https://rodraxm.itch.io/ruddys-dungeon-service"
  project_date="2023"
  project_details="Game made for the GMTK 2023 game jam. Help Ruddy, owner of a Dungeon Escape Room,
  by providing her customers a great Dungeon Crawling experience."
  project_tags="Godot, Design"
%}

{% include project-card.html
  project_name="UnityExplorer Fork (WIP)"
  project_banner="https://github.com/originalnicodr/UnityExplorer/blob/master/img/icon.png?raw=true"
  project_link="https://github.com/originalnicodr/UnityExplorer"
  project_date="2023"
  project_details="Fork of the excellent UnityExplorer mod made by sinai-dev focused on providing tools for creating marketing material for Unity games."
  project_tags="C#"
%}

{% include project-card.html
  project_name="RELit"
  project_banner="https://user-images.githubusercontent.com/24371572/177046952-45208d6f-edb2-4e6b-ba58-6b795053705c.png"
  project_link="https://github.com/originalnicodr/RELit"
  project_date="2022"
  project_details="REFramework mod script to spawn lights in RE Engine games."
  project_tags="Lua"
%}

{% include project-card.html
  project_name="A Roll Away"
  project_banner="https://img.itch.zone/aW1nLzk1MTgwNDYucG5n/315x250%23c/OXI20N.png"
  project_link="https://rodraxm.itch.io/a-roll-away"
  project_date="2022"
  project_details="Game made for the GMTK 2022 game jam. Fight your way across dimensions and multiple
  waves of enemies to get home with your loyal D-Dog."
  project_tags="Godot, Design"
%}

{% include project-card.html
  project_name="Double-Edged Link"
  project_banner="https://img.itch.zone/aW1nLzYyMTU3NzIucG5n/315x250%23c/cXuadK.png"
  project_link="https://rodraxm.itch.io/double-edged-link"
  project_date="2021"
  project_details="Game made for the GMTK 2021 game jam. Link your enemies to get their power-up, 
  as long as you can avoid killing them, or getting killed!"
  project_tags="Godot, Design"
%}

{% include project-card.html
  project_name="CuratorDiscordBot"
  project_banner="https://user-images.githubusercontent.com/24371572/104768884-1fa5f400-574d-11eb-93c4-10b24f8ce06e.jpg"
  project_link="https://github.com/originalnicodr/CuratorDiscordBot"
  project_date="2021"
  project_details="Discord bot that constructs a database for a website gallery."
  project_tags="Python"
  project_extra_link="../blog/how-we-made-a-high-quality-image-gallery-without-paying-a-single-dime/"
  project_extra_link_description="Blog post about it"
%}

{% include project-card.html
  project_name="CorgiFX"
  project_banner="https://user-images.githubusercontent.com/24371572/73476225-9eedbc80-4370-11ea-8a58-57447dadf76e.png"
  project_link="https://github.com/originalnicodr/CorgiFX"
  project_date="2020"
  project_details="Shader suite for Virtual Photography."
  project_tags="ReShade FX shader language"
%}

{% include project-card.html
  project_name="Framed"
  project_banner="https://github.com/framedsc/Sitesource/blob/master/logos/fsquare.png?raw=true"
  project_link="https://framedsc.com/"
  project_date="Since 2020"
  project_details="Colaborating in a Virtual Photography-related site by doing maintenance, documentation and improvements."
  project_tags="Maintenance, Documentation"
%}
