<a href={{ include.project_link }} target="_blank" rel="noreferrer" class="project">
  <div class="project-inner-card">
    <img src={{ include.project_banner }}>
    <div class="project-description">
      <div class="project-info">
        <h2>{{ include.project_name }}</h2>
        <div class="project-date">{{ include.project_date }}</div>
        <div class="project-details">
          {{ include.project_details }}
        </div>
      </div>
    </div>
  </div>
  <div class="project-footer">
    {% if include.project_extra_link %}
      <!-- <a href={{ include.project_extra_link }} class="project-extra-link">{{ include.project_extra_link_description }}</a> -->
    {% endif %}
    <div class="project-tags">{{ include.project_tags }}</div>
  </div>
</a>
