<div class="scr-banner">
    <!-- By choc -->
    <ul class="scr-banner-imgs-wrapper">
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-1.jpg"></div></li>
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-2.jpg"></div></li>
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-3.jpg"></div></li>
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-4.jpg"></div></li>
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-5.jpg"></div></li>
    </ul>
    <!-- (Empty) heading container for optional text/etc overlays. Just as example. -->
    <div class="scr-banner-heading"></div>
</div>