<div class="scr-banner">
    <!-- By choc -->
    <ul class="scr-banner-imgs-wrapper">
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-1.png"></div></li>
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-2.png"></div></li>
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-3.png"></div></li>
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-4.png"></div></li>
        <li class="scr-banner-imgs-item"><div><img src="/images/vp-banner/image-5.png"></div></li>
    </ul>
    <!-- (Empty) heading container for optional text/etc overlays. Just as example. -->
    <div class="scr-banner-heading"></div>
</div>