/* Project Card */
.page a {
  text-decoration: none; /* Remove underline from all links */
  color: inherit; /* Inherit color from parent */
  border-bottom: none;
}

.project h2 {
  margin-bottom: 10px;

  @media only screen and (max-width: $tablet) {
    font-size: 24px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 22px;
  }
}

.project {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px 20px 5px 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer; /* Change cursor on hover */
  max-width: 800px;
  margin: 20px auto;
  border-radius: 5px;

  @media only screen and (max-width: $tablet) {
    margin: 15px;
  }

  @media only screen and (max-width: $mobile) {
    margin: 10px;
  }
}

.project-inner-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project:hover {
  transform: translateY(-2px);
}

.project img {
  width: 200px;
  height: auto; /* Allow height to adjust proportionally */
  margin-right: 20px;
  border-radius: 5px;
  transition: transform 0.3s;

  @media only screen and (max-width: $tablet) {
    width: 150px;
  }

  @media only screen and (max-width: $mobile) {
    width: 100px;
  }
}

.project:hover img {
  transform: scale(1.05);
}

.project-description {
  flex: 1;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.project-date {
  font-size: 14px;
  color: #999;
  margin-bottom: 5px;
}

.project-footer {
  display: flex;
}

.project-tags {
  font-size: 14px;
  color: #666;
  width: 100%;
  text-align: right;
  margin-top: 8px;
  border-top: 1px solid #ddd;
}

.project-extra-link {
  font-size: 14px;
  text-decoration: underline;
  float: left;
  z-index: 1;
}

.project-details {
  font-size: 14px;
  color: #666;
}
