{% assign c = "c-review-card" %}
<div class="{{c}} col col-4 col-d-6 col-t-12">
  <div class="{{c}}__inner">

    {% if include.review.image %}
    <div class="{{c}}__image-wrap">
      <a class="{{c}}__image" href="{{ include.review.url }}">
        <img loading="lazy" src="{{ include.review.image }}" alt="{{ include.review.title }}">
      </a>
    </div>
    {% endif %}

    <div class="{{c}}__content">

      {% if include.review.tags.size >= 1 %}
      <div class="{{c}}__tags-box">
        {% for tag in include.review.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | downcase }}" class="{{c}}__tag">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}

      <h2 class="{{c}}__title">
        <a href="{{ include.review.url }}">{{ include.review.title }}</a>
      </h2>

      <p class="{{c}}__excerpt">
        {% if include.review.description %}{{ include.review.description }}{% else %}{{ include.review.content | strip_html | truncate: 120 }}{% endif
        %}
      </p>

      <div class="{{c}}__meta">
        <div class="{{c}}__author-image">
          <img loading="lazy" src="{{ site.data.author.author_image }}" alt="{{ site.data.author.author_name }}">
        </div>
        <div class="{{c}}__info">
          <div class="{{c}}__author-name">{{ site.data.author.author_name }}</div>
          <span class="{{c}}__date"><time datetime="{{ include.review.date | date_to_xmlschema }}">{{ include.review.date | date_to_string
              }}</time></span>
        </div>
      </div>

    </div>
  </div>
</div>