/* Page Heading */
.c-page-heading {
	max-width: 780px;
	margin: 0 auto;
	text-align: center;

	&__title {
		margin: 0;
		font-size: 58px;
		line-height: 1.12;
		padding: 96px 0 0;

		@media only screen and (max-width: $desktop) {
			padding: 80px 0 0;
		}
	
		@media only screen and (max-width: $tablet) {
			font-size: 36px;
			padding: 40px 0 0;
		}
	
		@media only screen and (max-width: $mobile) {
			font-size: 32px;
			padding: 30px 0 0;
		}
	}

	&__description {
		margin: 30px auto;
		max-width: 560px;
		line-height: 1.6;

		@media only screen and (max-width: $tablet) {
			margin: 40px auto;
		}

		@media only screen and (max-width: $mobile) {
			margin: 24px auto;
		}
	}
}