/* Album */

.album-banner{
    height: 400px;
	width: 95%;
    overflow: hidden;
	margin: 0 auto 30px;
	border-radius: 10px;

	position: relative;

	@media only screen and (max-width: $tablet) {
		height: 250px;
		font-size: 38px;
		width: 90%;
	}

	@media only screen and (max-width: $mobile) {
		height: 150px;
		font-size: 32px;
		width: 90%;
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;

		display:block;
	}

	.album-text {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;

		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		text-align: center;
		margin-top: 15px;

		@media only screen and (max-width: $tablet) {
			margin-top: 10px;
		}
	
		@media only screen and (max-width: $mobile) {
			margin-top: 0px;
		}
	}

}

.album-title {
	width: 90%;
	color: #fff;
	justify-content: center;
	z-index: 6; /* set above highest image container z-index */

	font-size: 58px;
	line-height: 1.2;
	font-weight: bold;
	filter: drop-shadow(0 0 10px rgb(0, 0, 0));


	@media only screen and (max-width: $tablet) {
		font-size: 34px;
	}

	@media only screen and (max-width: $mobile) {
		font-size: 28px;
	}
}

.album-description {
	width: 100%;
	color: #fff;
	text-shadow: 0 2px 3px hsla(0,0%,0%,0.8);
	justify-content: center;
	z-index: 6; /* set above highest image container z-index */

	font-size: 24px;
	font-weight: bold;
	align-self: flex-end;

	@media only screen and (max-width: $tablet) {
		font-size: 16px;
	}

	@media only screen and (max-width: $mobile) {
		font-size: 14px;
	}
}

.album-banner:after {
	content:'';
	position:absolute;
	left:0; top:0;
	width:100%; height:100%;
	display:inline-block;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 40%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.7)), color-stop(40%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 40%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 40%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 40%); /* IE10+ */
	background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 40%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}